<h1>My Employer</h1>

<section id = "merchant-info">

  <h2><%= @merchant.name %></h2>
  <p><%= @merchant.address %></p>
  <p><%= @merchant.city %></p>
  <p><%= @merchant.state %></p>
  <p><%= @merchant.zip %></p>


</section>

<% @pending_data.each do |pending_datum|%>
  <% pending_datum.flatten.each do |info|%>
    <% if info.class == Order %>
    <p><%= "Order ID: #{info.id}" %></p>
    <p><%= "Created: #{info.created_at}" %></p>
    <% elsif info.class == ItemOrder %>
    <p><%= "Total Quantity of Your Items: #{info.quantity}"  %></p>
    <p><%= "Total Value: #{info.price * info.quantity}"  %></p>
    <% end %>
  <% end %>
<% end %>
