<h1>Change Password</h1>

<%= form_tag "edit", method: :patch do %>

<%= label_tag :password %><br>
<%= text_field_tag :password, "New Password" %><br>

<%= label_tag :password_confirmation %><br>
<%= text_field_tag :password_confirmation, "New Password Confirmation" %><br>

<%= submit_tag "Change Password", class: :button %>
<% end %>
