<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id="merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>

      <% if current_admin? %>
      <% if merchant.active? %>
      <p>Status: Active</p>
      <%= link_to "Disable", merchant_update_path(merchant, toggle_status: true), method: :patch %>
      <% else %>
        <p>Status: Inactive</p>
        <%= link_to "Enable", merchant_update_path(merchant, toggle_status: true), method: :patch %>
      <% end %>
      <% end %>
    </section>
  <% end %>
</section>
