<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">

      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Profile", "/profile"%>
      <% if !current_user %>
        <%= link_to "Register", "/register"%>
        <%= link_to "Login", "/login" %>
      <% else %>

        <% if current_user.role == "admin" %>
          <%= link_to "Admin Dashboard", "/admin" %>
        <% else %>
          <% next %>
        <% end %>
        <%= "Logged in as #{current_user.name}" %>
        <%= link_to "Logout", "/logout" %>
      <% end %>
      
      <%= link_to "Cart: #{cart.total_items}", "/cart" %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
